<h1>Latest items in stock:</h1>
<ul class="items-grid">
    <li *ngFor="let product of products" style="padding-right:10px;">
        <div class="panel panel-primary">
            <a routerLink="/details/{{product.ProductId}}">
                <div class="panel-heading" style="height:100px;">
                    <div class="panel-heading">
                        <img src="{{product.ImageURL}}" class="img-responsive" style="width:100%" alt="Image">
                    </div>
                </div>
                <div class="panel-body" style="height:100px;">
                    <h4>{{product.Name}}</h4>
                </div>
                <div class="panel-footer">
                    <p>{{product.Price}} UAH</p>
                </div>
            </a>
        </div>
    </li>
</ul>