<form *ngIf="user == null" class="navbar-form navbar-left" role="search">
    <div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username">
            <input type="text" class="form-control" placeholder="Password">
        </div>
        <button (click)="login()" class="btn btn-default">Login</button>
        <a routerLink="/register"><button class="btn btn-default">Register</button></a>
    </div>
</form>
<form *ngIf="user != null" class="navbar-form navbar-left" role="search">
    <button (click)="logout()" class="btn btn-default">Logout</button>
</form>
