<h2>Orders history:</h2>
<div *ngFor="let order of orders" class="panel-group padding-top">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <a href="#">{{order.OrderId}}</a>
                </div>
                <div class="col-md-2">
                    {{order.Date}}
                </div>
                <div class="col-md-1">
                    <img src="{{order.ImageUrl}}" class="img-responsive" style="width:100%" alt="Image">
                </div>
                <div class="col-md-2 col-md-offset-3">
                    {{order.Price}}
                </div>
                <div class="col-md-2">
                    Status {{getTranslation(order.Status)}}
                </div>
            </div>
        </div>
    </div>
</div>